h1 {
	font-size:48px;
	line-height: 80px;
}

h2 {
	font-size:36px;
}

h3{
	font-size:28px;
}

#container {
	width: 100%;
	height: 100%;
	margin-left: 0px;
}

header {
	width:100%;
	height: 100%;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

#menu { 
		position: fixed;
		width:200px;
		margin:0 auto;
		height:1080px;
		background: #D6B8C0;
		line-height: 85px;
}

#me {
	align-items: center;
	text-align: center;
	background: #405738; 
	color: white;
	height: 300px;
}


#img-moi {
	border-radius: 75px;
	width: 150px;
	height:150px;
	margin-top: 10px;
}

#top {
	width: 100%;
	height: 100%;
}

#top-container {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}

#main-container {
	background: #CCAFD6;
	width: 100% - 200px;
	margin-left: 200px;
	height:1080px;
}